/**
 * @file
 * Secure Trading payment form styles for the Commerce Secure Trading module.
 */

#st-card-number iframe,
#st-expiration-date iframe,
#st-security-code iframe {
  height: 7em;
}

#edit-payment-information-add-payment-method .form-item {
  margin: 0;
}
